apiVersion: apps/v1
kind: Deployment
metadata:
  name: bot-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bot
  template:
    metadata:
      labels:
        app: bot
    spec:
      containers:
        - name: bot
          image: fakebuster-bot:latest
          command: ["python"]
          args: ["bot/app/main.py"]
          imagePullPolicy: IfNotPresent
          env:
            - name: TELEGRAM_TOKEN
              value: "7977064583:AAEINGj__hzVGthSySMFGTlFqkarDrwmZWg"
